{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{category}} active listings</h2>
<div class="container">
    <div class="row">
        {% for listing in listings %}
        <div class="col-4">
            <div class="card mt-2" style="height: 30rem;">
                <img src="{{listing.image}}" class="card-img-top" style="width: 100%; height:15vw; object-fit:cover;"
                    alt="Listing photo">
                <div class="card-header text-truncate h5">{{listing.title}}</div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">USD {{listing.price}}</h6>
                    <p class="card-text text-truncate">{{listing.description}}</p>
                </div>
                <div class="card-footer text-muted">
                    Created {{listing.date}}
                    <a href="{% url 'listing' listing.id %}" class="btn btn-primary">See</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>There are no active listings in this category.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}